<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>后台管理系统登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="/css/ace.min.css" />
    <link rel="stylesheet" href="/css/ace-rtl.min.css" />
    <script src="/js/jquery-2.0.3.min.js"></script>
    <style type="text/css">
        .login-layout{
            background: #428bca;
        }
        .login-layout .widget-box{
            background-color:#428bca;
        }
        .login-layout .widget-box .widget-main{
            padding:26px 16px;
        }
        .login-container{
            padding-top: 80px;
        }
        .header{
            margin-top:0px;
            padding-bottom: 12px;
        }
    </style>

    <script>
        function check(ob) {

            if(ob.value===''){
                alert("用户名不能为空")
            }else {
                $.ajax({
                    type:'post',
                    url:'http://127.0.0.1:8008/user/checkUserName',
                    data: {
                        name:ob.value,
                    },
                    success:function(data){
                        if(data){
                            alert(data)
                        }
                    },
                    error:function(){
                        console.log('error');
                    }
                })

            }


        }
    </script>

</head>

<body class="login-layout">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">

                                    <h2 class="header blue lighter bigger center">
                                        欢迎注册
                                    </h2>

                                    <div class="space-6"></div>

                                    <form  method="post" action="/user/doRegister"  enctype="multipart/form-data">

                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input id="username" onblur="check(this)" type="text" class="form-control" placeholder="用户名" name="username" />
															<i class="icon-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="密码" name="password" />
															<i class="icon-lock"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="确认密码" name="passwordRe" />
															<i class="icon-lock"></i>
														</span>
                                            </label>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="file" class="form-control" placeholder="头像上传" name="files" />
															<i class="icon-user"></i>
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" name="sub">
                                                    <i class="icon-key"></i>
                                                    注册
                                                </button>

                                            </div>


                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>


                                </div><!-- /widget-main -->


                            </div><!-- /widget-body -->
                        </div><!-- /login-box -->

                    </div><!-- /position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div><!-- /.main-container -->

<!-- basic scripts -->

</body>
</html>
